<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/images/anhdai.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Về chúng tôi
    </h2>
</section>	
<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16" style="font-size: 20px;">
                        Câu chuyện về chúng tôi
                    </h3>
                    <p class="stext-113 cl6 p-b-26" style="font-size: 17px;">
                        CÙNG TÌM HIỂU VỀ MASCOT NAM CỰC VÀ BẮC CỰC CỦA ARTIVE!!
                        Xin chào các bạn! Hôm nay, Artivemuốn giới thiệu đến các bạn hai người bạn đặc biệt của chúng tôi: Bắc Cực và Nam Cực, hai chú gấu bắc cực và cánh cụt đáng yêu.
                        Bắc Cực và Nam Cực không chỉ là những biểu tượng của hai vùng cực kỳ quan trọng trên Trái Đất, mà còn là những sứ giả tí hon cho hành tinh xanh của chúng ta. Chúng là những minh chứng sống động cho sự đa dạng sinh học phong phú và vẻ đẹp ngoạn mục của tự nhiên.
                    </p>
                    <p class="stext-113 cl6 p-b-26" style="font-size: 17px;">
                        Tuy nhiên, Bắc Cực và Nam Cực đang phải đối mặt với một mối đe dọa lớn: nóng lên toàn cầu. Do ảnh hưởng của biến đổi khí hậu, băng tan chảy nhanh chóng, khiến môi trường sống của gấu bắc cực và cánh cụt bị thu hẹp và đe dọa sự sinh tồn của chúng.
                    </p>
                    <p class="stext-113 cl6 p-b-26" style="font-size: 17px;">
                        Artive nhận thức rõ ràng về sự nguy cấp của vấn đề này. Chúng tôi cam kết sử dụng sức mạnh của thời trang để nâng cao ý thức cộng đồng về bảo vệ môi trường và bảo vệ động vật.
                    </p>
                </div>
            </div>
            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <!--<div class="how-bor1 ">-->
                    <div class="hov-img0">
                        <img src="assets/images/aboutus_1.jpg" alt="IMG">
                    </div>
               <!--</div>--> 
            </div>
        </div>
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16" style="font-size: 20px;">
                        Sứ mệnh của chúng tôi
                    </h3>
                    <p class="stext-113 cl6 p-b-26" style="font-size: 17px;">
                        Thiết kế và sản xuất các sản phẩm thời trang in ấn theo yêu cầu độc đáo và thân thiện với môi trường.
                        Sử dụng các vật liệu tái chế và có nguồn gốc bền vững.
                        Hỗ trợ các tổ chức bảo vệ môi trường và động vật hoang dã.
                        Nâng cao ý thức cộng đồng về bảo vệ môi trường và bảo vệ động vật thông qua các hoạt động truyền thông và giáo dục.
                        Hãy cùng chung tay với chúng tôi để bảo vệ Bắc Cực và Nam Cực, bảo vệ môi trường sống của gấu bắc cực và cánh cụt, và bảo vệ hành tinh xanh của chúng ta!
                    </p>
                    <p class="stext-113 cl6 p-b-26" style="font-size: 17px;">
                        Là một thương hiệu thời trang in ấn theo yêu cầu, chúng tôi cam kết:
                        Sử dụng các vật liệu in ấn thân thiện với môi trường như mực in gốc nước, giấy tái chế và bao bì compostable.
                        Áp dụng quy trình in ấn hiệu quả để giảm thiểu lượng rác thải và tiết kiệm năng lượng.
                        Hợp tác với các nhà cung cấp có trách nhiệm về mặt xã hội và môi trường.
                        Khuyến khích khách hàng mua sắm thông minh và sử dụng sản phẩm của chúng tôi một cách lâu dài.
                        Hãy cùng chung tay xây dựng một ngành thời trang bền vững để bảo vệ môi trường và tạo ra một tương lai tốt đẹp hơn cho tất cả mọi người.
                    </p>
                    
                  <!--<div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                        </p>
                        <span class="stext-111 cl8">
                            - Steve Job’s 
                        </span>
                    </div>-->  
                </div>
            </div>
            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
            <!--<div class="how-bor2">-->    
                    <div class="hov-img0">
                        <img src="assets/images/aboutus_2.jpg" alt="IMG">
                    </div>
              <!--  </div> -->
            </div>
        </div>
    </div>
</section>